@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.ttf);
}
@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book.ttf);
}
@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/GOTHAM-MEDIUM.OTF);
}


* { margin: 0; padding: 0; border: 0; box-sizing: border-box; outline: none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;text-size-adjust:none;font-family: Gotham-Medium;}
body{ top: 0; color: #2E2A23;  font-size: 14px; background: #F0F0F0; }
ul, ol, li, h1, h2, h3, h4, h5, h6, a, p { text-decoration: none; list-style: none; }
a { transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; color: #000; cursor: pointer; }
a:hover{color: #00B7FE;}
input[type="submit"]{backface-visibility:hidden;-webkit-appearance:none;-moz-appearance:none;}
textarea, input{border-radius:0; resize: none; }
p { font-size: 12px; line-height: 20px; }
table,tr,td,th { border-spacing: 0; padding: 0; margin: 0; }
img { max-width: 100%; }
ul, li, ol{ list-style: none; }
.col-2, .col-3, .col-4, .col-5, .col-60, .col-40, .col-70, .col-30{display: inline-block; vertical-align: top;}
.col-1{ width:100%; }
.col-2{ width:50%; }
.col-3{ width:33.33%; }
.col-4{ width:25%; }
.col-5{ width:20%; }
.col-60{ width:60%; }
.col-40{ width:40%; }
.col-70{ width:70%; }
.col-30{ width:30%; }
.left-text{text-align: left;}
.right-text{text-align: right;}
.center-text{text-align: center;}
.relative{position: relative;}
.parallax{ background-attachment: fixed; }
.fine_bg{background-size: cover; background-repeat: no-repeat; background-position: center center; }
.padding-top0{padding-top: 0;}
.padding-bottom0{padding-bottom: 0;}
.transition{transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;}
.table-block{display: table; width: 100%; height: 100%;}
.table-cell{ display: table-cell; vertical-align: middle; text-align: center; }
input[type="text"]:focus, textarea:focus{ border-color: #F05F48 !important; background-color: rgba(255,255,255,0.5); }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#000;}
input[type="text"]:-moz-placeholder, textarea:-moz-placeholder{color:#000;}
input[type="text"]::-moz-placeholder, textarea::-moz-placeholder{color:#000;}
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#000;}
#container{width: 100%; transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; box-sizing: border-box;padding-left: 25%; }
.wrapper{width: 100%; padding: 0px 60px;}
.btn{display: inline-block;width: 175px;text-transform: uppercase;text-align: center;padding: 12px 0px;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;box-sizing: border-box;cursor: pointer;font-size: 12px;}
.yellow-btn{background: #FFD541;color: #fff;}
.yellow-btn:hover{background: #e5bf3a;}

header{box-sizing: border-box;padding-left: 60px;width: 100%;}
.header-wrapper{background: #ffffff;padding: 15px 25px; position: relative;width: 100%;box-sizing: border-box;padding-right: 250px;}
.header-wrapper .logo, .header-wrapper nav{display: inline-block;vertical-align: middle;}
.header-wrapper .logo{width: 80px;} 
.header-wrapper nav{width: calc(100% - 80px); text-align: right;}
nav ul li{display: inline-block;vertical-align: middle;margin-left: 25px;text-transform: uppercase;position: relative;}
nav ul li a{font-size: 12px;padding: 0px 5px;position: relative;z-index: 1;}
nav ul li:after, .header-icons ul li:after, .side-submenu ul li:after{content: '';display: block;width: 100%;height: 10px;width: 102%;left: -1%;bottom: -1px;background: #FFD541;position: absolute;opacity: 0;z-index: 0;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;}
nav ul li.active:after, nav ul li:hover:after, .header-icons ul li:hover:after, .side-submenu ul li.active:after, .side-submenu ul li:hover:after{opacity: 0.6;}
nav ul li:hover a{color: #000;}
.header-icons{position: absolute;top: 35px;right: 95px;}
.header-icons ul{text-align: center;width: 130px;}
.header-icons ul li{display: inline-block;vertical-align: middle;position: relative;margin: 0 10px;}
.header-icons ul li a{color: #000;}
.header-icons ul li img{width: 18px;position: relative;z-index: 2;}
.cart-count{position: absolute;top: -10px;right: -10px;display: block;border-radius: 100%;background: #FFD541;font-size: 10px;width: 20px;height: 20px;line-height: 20px;text-align: center;z-index: 3;}


.breadcrums{padding: 25px 0px;}
.breadcrums li, .breadcrums li  a, .breadcrum-caret{display: inline-block;vertical-align: middle;color: #666;}
.breadcrums li p{font-size: 9px;text-transform: uppercase;}
.breadcrums li img{width: 15px;}
.breadcrum-caret{width: 10px;height: 10px;background: url('../images/icons/caret-right.png') center center no-repeat; background-size: 8px;margin-left: 15px;margin-right: 10px;}
.breadcrums li a:hover{color: #FFD541;}
.breadcrums li a.active{color: #000;pointer-events: none;}

.side-submenu{width: 25%;height: 100%;position: fixed;left: 0;padding-top: 160px;padding-right: 40px;top: 0;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;}
.side-submenu ul{width: 100%;text-align: right;}
.side-submenu ul li{margin: 25px 0px;position: relative;}
.side-submenu ul li:after{bottom: 5px;}
.side-submenu ul li p{font-size: 12px;text-transform: uppercase;position: relative; z-index: 2;}
.side-submenu ul li p a{}
.side-submenu ul li p a:hover{}

.social{text-align: right;padding-top: 65px;}
.social div{display: inline-block;vertical-align: middle;margin-left: 25px;}
.social div img{height: 16px;}

.submenu-text{position: absolute; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); width: 500px; transform-origin: left; bottom: -50px; left: 55px;font-size: 88px;color: #fff; z-index: 5;text-align: center;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;}

.MenuHidden .side-submenu{padding-top: 0;}
.MenuHidden .submenu-text{bottom: 30px;}

.section{margin-bottom: 100px;}

.price-detailsWrapper{padding-right: 0;}
.price-details{padding-left: 35px;}
.price-details .col-1{background: #fff;padding: 35px;}
.product-image{margin-left: -70px;}
.price-details .col-1 .col-60, .price-details .col-1 .col-40{vertical-align: middle;}
.title{font-size: 28px;padding-bottom: 8px;}
.product-content .rating img{display: inline-block;vertical-align: middle;height: 15px;}
.product-content .rating span{display: inline-block;vertical-align: middle;padding-left: 5px;font-size: 14px;color: #CECECE;}

.price{padding: 25px 0px;;}
.price h3{font-size: 22px;font-weight: 400;}
.price h3 span{color: #CECECE;text-decoration: line-through;padding-right: 10px;}
.warraty_block{border-top: 1px solid #CECECE;border-bottom: 1px solid #CECECE;padding: 15px 0px;}
.warraty_block ul li{position: relative;padding-left: 15px; }
.warraty_block ul li:before{position: absolute;left: 0;top: 10px;width: 4px;height: 4px;border-radius: 100%;background: #000;content: '';display: block;}
.warraty_block ul li strong{text-transform: uppercase;}

.delivery{padding: 20px 0px;}
.deliveyImg, .deliveyContent{display: inline-block;vertical-align: middle;}
.deliveyImg{border-radius: 100%;width: 40px;height: 40px;background: #CECECE;box-sizing: border-box;padding: 10px;}
.deliveyImg img{display: block;margin: auto;}
.deliveyContent{text-transform: uppercase;width: calc(100% - 50px);box-sizing: border-box;padding-left: 8px;}
.deliveyContent p{font-size: 12px;line-height: 15px;}

.colorChoice div{display: inline-block;width: 20px;height: 20px;border-radius: 100%;margin: 5px;border: 1px solid transparent;cursor: pointer;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;margin-top: 8px;}
.colorChoice div img{height: 10px;display: none;margin: 4px auto;}
.colorChoice div.active img{display: block;}
.GrayColor{background: #DAD5AB;border-color: #DAD5AB !important;}
.BlackColor{background: #000;border-color: #000 !important;}
.WhiteColor{background: #fff;border-color: #DDD !important;}

.counter{display: inline-block;vertical-align: middle;}
.counter span{background: #EEEEEE;display: inline-block;vertical-align: middle;font-size: 12px;line-height: 40px;height: 40px;padding: 0px 15px;cursor: pointer;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;}
.counter .disabled{pointer-events: none;color: #999;} 
.number{pointer-events: none;}
.counter span:hover{background: #CECECE;}

.product-specifications{position: relative;}
.specificationImage{display: none;}
.product-specifications{ background: url('../images/sofa2.jpg') right center no-repeat;background-size: cover;}

.specification_Content h2{background: #F0F0F0;width: 450px;padding: 40px 30px 40px 0px;box-sizing: border-box;}
.specification_Content p{background: #F0F0F0;width: 300px;text-align: justify;font-family:Gotham-Book;padding-right: 40px; }
.product-video{background: url('../images/sofa3.jpg') right center no-repeat;background-size: cover;width: 100%;min-height: 500px;position: relative;}
.product-video h2{position: relative; z-index: 3;}
.product-video:after{position: absolute;content: '';width: 100%;height: 100%;background: rgba(0,0,0,0.5);left: 0;top: 0;}

.play-button{position: absolute;left:calc(50% - 40px);top: calc(50% - 40px);background: rgba(255,213,65,0.5);border-radius: 100%;z-index: 2;width: 80px;height: 80px;cursor: pointer;transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s;}
.play-button:before{content: '';position: absolute;left: 17.5px;top: 17.5px;background: #FFD541;border-radius: 100%;width: 45px;height: 45px;}
.play-button img{height: 11px;display: block;margin: auto;margin-top: 35px;position: relative;z-index: 2;}
.play-button:hover{background: rgba(255,213,65,0.7);}

.download-now{position: relative;}
.downloadWrapper{padding-left: 60px;}
.downloadWrapper img{display: block;}
.downloadWrapper h2{font-weight: 400;text-transform: uppercase;font-size: 13px;letter-spacing: 1px;position: absolute;transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform-origin: left;top: 214px;left: 6px;}
.downloadWrapper h2:after{display: block;width: 100px;height: 1px;background: #000;content: '';position: absolute;left: -115px;top: 8px;}
.parallaxImg{position: absolute;left: -60px;width: 450px;}
.download-btn{background: #FFD541;padding: 40px 50px;position: absolute;right: 0;bottom: 0;}
.download-btn img{display:inline-block; vertical-align: middle;margin-right: 15px;}
.download-btn span{display:inline-block; vertical-align: middle;text-transform: uppercase;}
.download-btn:hover{background: #e5bf3a;color: #000;}


.productBlock{padding-top: 40px;}
.productBlock .col-4{padding: 0px 2px;margin-bottom: 4px;}
.product-wrapper{background: #FAFAFA;text-align: center;}
.product-wrapper h3{font-weight: 400;}
.product-wrapper .price h3{font-size: 14px;}
.product-wrapper .price{padding-top: 5px;}

.newsletter{background: #FFD541;padding-top: 120px;margin-bottom: 0;}
#newsletter-id{font-size: 28px;background: transparent;text-align: center;border-bottom: 1px solid #999;display: block;margin: auto;padding: 10px 0px;width: 550px;}
.footer-menu{border-top: 1px solid #999;padding: 50px 0px;margin-top: 100px;}
.footer-menu nav, .footer-menu .footer-logo, .footer-menu .footer-social{display: inline-block;vertical-align: middle;}
.footer-menu nav{width: calc(50% - 22.5px);}
.footer-menu .footer-logo{width: 45px;}
.footer-menu .footer-social{width: calc(50% - 22.5px);text-align: right;padding-right: 30px;}
.footer-menu .footer-social .social{padding-top: 0;}


.animation-delay-7{ animation-delay: 0.7s; -webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; }
.animation-delay-8{ animation-delay: 0.8s; -webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; }
.animation-delay-9{ animation-delay: 0.9s; -webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; }
.animation-delay-10{ animation-delay: 1.0s; -webkit-animation-delay: 1.0s; -moz-animation-delay: 1.0s; }
.animation-delay-11{ animation-delay: 1.1s; -webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s; }
.animation-delay-12{ animation-delay: 1.2s; -webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; }
.animation-delay-13{ animation-delay: 1.3s; -webkit-animation-delay: 1.3s; -moz-animation-delay: 1.3s; }
.animation-delay-14{ animation-delay: 1.4s; -webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s; }
.animation-delay-15{ animation-delay: 1.5s; -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; }
.animation-delay-16{ animation-delay: 1.6s; -webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s; }
.animation-delay-17{ animation-delay: 1.7s; -webkit-animation-delay: 1.7s; -moz-animation-delay: 1.7s; }
.animation-delay-18{ animation-delay: 1.8s; -webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; }
.animation-delay-19{ animation-delay: 1.9s; -webkit-animation-delay: 1.9s; -moz-animation-delay: 1.9s; }
.animation-delay-20{ animation-delay: 2.0s; -webkit-animation-delay: 2.0s; -moz-animation-delay: 2.0s; }
.animation-delay-21{ animation-delay: 2.1s; -webkit-animation-delay: 2.1s; -moz-animation-delay: 2.1s; }
.animation-delay-22{ animation-delay: 2.2s; -webkit-animation-delay: 2.2s; -moz-animation-delay: 2.2s; }
.animation-delay-23{ animation-delay: 2.3s; -webkit-animation-delay: 2.3s; -moz-animation-delay: 2.3s; }
.animation-delay-24{ animation-delay: 2.4s; -webkit-animation-delay: 2.4s; -moz-animation-delay: 2.4s; }
.animation-delay-25{ animation-delay: 2.5s; -webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; }
.animation-delay-26{ animation-delay: 2.6s; -webkit-animation-delay: 2.6s; -moz-animation-delay: 2.6s; }
.animation-delay-27{ animation-delay: 2.7s; -webkit-animation-delay: 2.7s; -moz-animation-delay: 2.7s; }
.animation-delay-28{ animation-delay: 2.8s; -webkit-animation-delay: 2.8s; -moz-animation-delay: 2.8s; }
.animation-delay-29{ animation-delay: 2.9s; -webkit-animation-delay: 2.9s; -moz-animation-delay: 2.9s; }
.animation-delay-30{ animation-delay: 3.0s; -webkit-animation-delay: 3.0s; -moz-animation-delay: 3.0s; }
.animation-delay-35{ animation-delay: 3.5s; -webkit-animation-delay: 3.5s; -moz-animation-delay: 3.5s; }
.animation-delay-40{ animation-delay: 4.0s; -webkit-animation-delay: 4.0s; -moz-animation-delay: 4.0s; }

.logo, .header-wrapper nav ul li, .header-icons ul li, .breadcrums ul li, .side-submenu ul li, .ShowIn{-webkit-animation-fill-mode:both;animation-fill-mode:both; -webkit-animation-fill-mode:both;animation-fill-mode:both; -webkit-animation-name:showIn;animation-name:showIn;-moz-animation-name:showIn; -webkit-animation-duration:1s;animation-duration:1s;  }

@-webkit-keyframes showIn{  0%{opacity: 0; } 100%{opacity: 1; }  }
@-moz-keyframes showIn{  0%{opacity: 0; } 100%{opacity: 1; }  }
@keyframes showIn{  0%{opacity: 0; } 100%{opacity: 1; }  }

.scroll_effect{opacity: 0;transition: all 1.2s; -webkit-transition: all 1.2s; -moz-transition: all 1.2s;}
.add_scroll_effect{opacity: 1;}

.transition-delay-7{transition-delay: 0.7s;-webkit-transition-delay: 0.7s; -moz-transition-delay: 0.7s;}
.transition-delay-8{transition-delay: 0.8s;-webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s;}
.transition-delay-9{transition-delay: 0.9s;-webkit-transition-delay: 0.9s; -moz-transition-delay: 0.9s;}
.transition-delay-10{transition-delay: 1.0s;-webkit-transition-delay: 1.0s; -moz-transition-delay: 1.0s;}
.transition-delay-11{transition-delay: 1.1s;-webkit-transition-delay: 1.1s; -moz-transition-delay: 1.1s;}
.transition-delay-12{transition-delay: 1.2s;-webkit-transition-delay: 1.2s; -moz-transition-delay: 1.2s;}

@media screen and (min-width: 200px) and (max-width: 1024px) {

}

@media screen and (min-width: 200px) and (max-width: 768px) {
.col-2, .col-3, .col-4, .col-5, .col-60, .col-40, .col-70, .col-30{width: 100%;}

}

@media screen and (min-width: 200px) and (max-width: 480px) {

}   

@media screen and (min-width: 481px) and (max-width: 640px) {

}

@media screen and (min-width: 641px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 900px) {

}

@media screen and (min-width: 901px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1100px) {

}

@media screen and (min-width: 1101px) and (max-width: 1280px) {

}


